@font-face {
  font-family: 'open';  
  src: url('../fonts/OpenSansCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amatic';  
  src: url('../fonts/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin:0;
  padding:0;
  }

  body, html{height:100%;}

body {
  text-align:center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: open, Arial, sans-serif;
}

nav {
  background-color: #a6c2ce;
  height: 60px;
  width: 100%;
  z-index: 4;
  position: fixed;
}

nav ul {
  margin: auto;
  text-align: center;
  bottom: 35px;
}

nav li{
  font-size: 25px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 15px;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li.active {
  color:#6B799E;
}

nav a:hover{
  color: #6b799e;
}


/* Page d'accueil */

#main{
  max-width:1280px;
  min-height:100%;
  margin:0 auto;
  position:relative;
  }

header {
 width: 100%;
 height: 25rem;
 position: relative;
}

header img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.author {
  z-index: 2;
  color: white;
  position: absolute;
  font-size: 3rem;
  font-family: amatic, Arial, sans-serif;
  font-weight: bold;
  bottom: 10rem;
  left: 65rem;
  min-width: 200px;
}

.line {
  display: flex;
  width: 100%;
  position: relative;
}

.c {
  margin-top: 20px;
}

article {
  font-size: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

article h1 {
  text-align: justify;
  font-size: 40px;
  color: #9C8F96;
}
article a {
  text-decoration: none ;
  color: #9C8F96;
}

article a:hover{
  color: #6b799e;
}

#signature { 
  font-family: amatic,Arial, sans-serif;
  font-weight: bold;
}

aside {
  max-width: 100px;
  min-width: 50px;
}

aside i {
  color:#6B799E;
}

aside i:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

aside li {
  list-style-type: none;
}

.mobile {
  display: none;
}

footer {
  text-align: center;
  background-color:#A6C2CE;
  color: white;
  height: 50px;
  position:absolute;
  bottom:0;
  width:100%;
}


/* Mon CV */
.cvcontainer {
  width: 100%;
  height: 100%;
  position: relative;
  top: 60px;
}

.box {
  border-bottom: 2px solid #9C8F96;
  border-top: 2px solid #9C8F96;
  border-right: 1px solid #9C8F96;
  font-size: 17px;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  text-align: justify;
  flex: 1 1 auto;
}

.box h2 {
  font-size: 30px;
  color: #9C8F96;
  font-family: amatic, Arial, sans-serif;
  text-align: center;
  margin-bottom: 0;
}

.box h3 {
  font-size: 20px;
  font-family: amatic, Arial, sans-serif;
  text-align: center;
  margin-top: 0;
}

/* LINE A */
.a {
  height: 50px;
}

.name {
  font-family: amatic, Arial, sans-serif;
  font-size: 60px;
  width: 25%;
  min-width: 200px;
  height: 100%;
  color: rgb(228, 210, 210);
  text-align: center;
  background-color: #ece4e8;
}

.presentation {
  font-size: 40px;
  text-align: center;
  width: 75%;
  min-width: 530px;
  height: 100%;
  line-height: 40px;
}

#spe {
  font-size: 30px;
  margin-top: 0;
} 
 /* LINE B */

.b {
  width: 100%;
  top:  64px;
  flex-wrap: wrap;
}

.photo {
  width: 25%;
  min-height: 300px;
  max-height: 450px;
  min-width: 400px;
  max-width: 500px;
  background-image: url("../images/moi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.codeacademy {
  width: 40%;
  padding-top: 5px;
  min-width: 150px;
  /*max-width: 380px;*/
}

.vinted {
  background-color: #ece4e8;
  width: 35%;
  padding-top: 5px;
  min-width: 50px;
}

.chauss{
  width: 35%;
  min-width:100px;
  max-width: 300px;
  padding-top: 5px;
}

.cevimod {
  padding-top: 5px;
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}

.studies {
  width: 35%;
  min-width: 250px;
}

.internship {
  padding-top: 5px;
  width: 30%;
  min-width: 250px;
}

.internship table {
  border-spacing: 15px 20px;
}

.internship img {
  height: 40px;
  width: 40px;
  filter: grayscale(70%);
  padding-left: 7px;
}

#germany {
  height: 55px;
  width: 55px;
  padding-left: 0;
  filter: grayscale(50%);
}

.language {
  width: 20%;
  min-width: 250px;
  color: #6B799E;
  font-family: amatic, Arial, sans-serif;
  font-size: 20px;
}

.language table {
  border-spacing: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  min-width: 200px;
}

.language table th {
  min-width: 100px;
}
.language img {
  bottom: 200px;
  opacity: 0.5;
}

.hobby {
  width: 30%;
  min-width: 380px;
}

.hobby table {
  border-spacing: 20px 10px;
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
}

#ilove {
  filter: grayscale(40%);
  text-align: center;
}
#plane {
  height: 90px;
  width : 90px;
  opacity: 0.6;
}
#book {
  height: 130px;
  width : 130px;
  opacity: 0.8;
}
#recycle {
  height: 60px;
  width : 60px;
  filter: grayscale(30%);
  opacity: 0.6;
}

.contact {
  width: 20%;
}

.contact h2 {
  padding-top: 60px;
  color:#6b799e;
}

.cvfooter {
  text-align: center;
  background-color:#A6C2CE;
  color: white;
  max-height: 50px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  top: 50px;
}

/* Projets*/

.loading{
  text-align : center;
  color: #9C8F96;
  position: relative;
  top: 164px;
}

/*PETITS ECRANS*/
@media only screen and (max-width: 1250px){
 .author {
    display: none;
  }
}

@media only screen and (max-width: 1000px), (orientation: portrait){
  header {
    max-height: 20rem;
  }

  aside {
    display: none;
  }

  .mobile {
    display: block;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .mobile i {
    color: #6B799E; 
    margin-left: 1rem;
    margin-bottom: 3rem;
  }

}

@media only screen and (min-width: 1100px) {
  .codeacademy {
    max-width: 250px;
  }
}


